# Dependencies
node_modules/
/.pnp
.pnp.js

# Large files (keep in .gitignore, too large for GitHub)
资料/
# 忽略超大文件（>20MB，GitHub 推送限制）
public/resources/建筑研究/*.pdf
public/resources/考纲/浙江（上）.pdf
public/resources/考纲/浙江（下）.pdf
public/resources/押题卷/雷大大/雷大大押题卷3科一科二解析.pdf
# public/resources/押题卷/雷大大/雷大大押题卷3科一科二题目.pdf
# public/resources/押题卷/雷大大/雷大大押题卷3科三科四解析.pdf
public/resources/押题卷/雷大大/雷大大押题卷3科三科四题目.pdf
# public/resources/押题卷/雷大大/雷大大押题卷4科一科二题目.pdf
public/resources/押题卷/雷大大/雷大大押题卷4科三科四题目.pdf

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
